h3 {
    font-size: 20px;
    padding-top: 10px;
}

h5 {
    font-weight: 500;
    font-size: 16px;
    padding-top: 7px;
}

i {
    font-size: 16px;
}

section {
    margin-left: 10%;
    margin-top: 8%;
    padding-left: 2px;
}

.project-tag{
    font-size: 14px;
    padding: 0.5rem 0.8rem;
}

img.cover-image {
    margin-right: 20px;
    border-radius: 3%;
}

img {
    margin-right: 10px;
    /* border-radius: 3%; */
}

p {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    text-align: justify;
}

b {
    font-weight: 500;
}

#logo {
    position: absolute;
    left: 6vw;
    font-size: 30px;
    font-weight: 700;
}

#full-pro-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.project p {
    margin: 0 15px 15px;
}

#filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-button {
    text-align: center;
    font-weight: 400;
    max-width: 15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: #ddd;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.filter-button:hover {
    background-color: #000;
    color: #fff;
}

.filter-button.active {
    background-color: #000;
    color: #fff;
}
