h3 {
    font-size: 20px;
}

section {
    margin-left: 10%;
    margin-top: 8%;
    padding-left: 2px;
}

#full-pub-list {
    margin-top: 20px;
}

#full-pub-list li {
    margin-bottom: 20px;
}

#full-abs-list {
    margin-top: 20px;
}

#full-abs-list li {
    margin-bottom: 20px;
}

.pub-cover {
    width: 150px;
    display: flex;
    margin-right: 20px;
    border-radius: 10px;
}

.pub-item {
    display: flex;
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: 18px;
    }

    section {
        margin-top: 25%;
    }

    .pub-title {
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 5px;
    }

    .pub-author {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 5px;
    }

    .pub-conf {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 5px;
    }
}